:root {
  // Primary colors
  --dark-red: #d33428;
  --bright-red: #fd543f;
  --navy: #0a1237;
  --gray: #e1dcd9;

  // Accent colors
  --orange: #fead50;
  --yellow: #fbc729;
  --pink: #fcc4c0;
  --bright-blue: #206eb6;
  --light-blue: #8bbee3;
  --teal: #3a9e93;
  --mint: #b2e0d6;
}
